.background    { background: black;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.badwall       { background: red; }

.wall          { background: blue;   }
.fireball		{ background: orange;	}

.actor  { position: absolute;	}
.exit	{ background: green;	}
.player { background: white;	}

.game {
  overflow: hidden;
  max-height: 600px;
  max-width: 450px;
  position: relative;
 }

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
